################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lyt.Avalonia.Framework.TestApp/obj
/.vs
/Lyt.Avalonia.Framework.TestApp/bin/Debug/net8.0
/Lyt.Avalonia.Framework.TestApp/bin/Release/net8.0
/Lyt.Avalonia.Controls/bin
/Lyt.Avalonia.Controls/obj
/Lyt.Avalonia.Interfaces/bin
/Lyt.Avalonia.Interfaces/obj
/Lyt.Avalonia.Localizer/bin
/Lyt.Avalonia.Localizer/obj
/Lyt.Avalonia.Model/bin
/Lyt.Avalonia.Model/obj
/Lyt.Avalonia.Mvvm/bin
/Lyt.Avalonia.Mvvm/obj
/Lyt.Avalonia.Persistence/obj
/Lyt.Avalonia.Persistence/bin
/Lyt.StateMachine/bin/Release/net8.0
/Lyt.StateMachine/obj
/Lyt.Avalonia.Orchestrator/bin/Release/net8.0
/Lyt.Avalonia.Orchestrator/obj
/Lyt.Avalonia.Orchestrator/bin/Debug/net8.0
/Lyt.StateMachine/bin/Debug/net8.0
/Lyt.Avalonia.UserAdministration/obj
/Lyt.Avalonia.UserAdministration/bin/Release/net8.0
