################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lyt.Avalonia.Framework.TestApp/obj
/.vs
/Lyt.Avalonia.Framework.TestApp/bin/Debug/net8.0
/Lyt.Avalonia.Framework.TestApp/bin/Release/net8.0
/Lyt.Avalonia.Controls/bin
/Lyt.Avalonia.Controls/obj
/Lyt.Avalonia.Interfaces/bin
/Lyt.Avalonia.Interfaces/obj
/Lyt.Avalonia.Localizer/bin
/Lyt.Avalonia.Localizer/obj
/Lyt.Avalonia.Model/bin
/Lyt.Avalonia.Model/obj
/Lyt.Avalonia.Mvvm/bin
/Lyt.Avalonia.Mvvm/obj
/Lyt.Avalonia.Persistence/obj
/Lyt.Avalonia.Persistence/bin
/Lyt.StateMachine/bin/Release/net8.0
/Lyt.StateMachine/obj
/Lyt.Avalonia.Orchestrator/bin/Release/net8.0
/Lyt.Avalonia.Orchestrator/obj
/Lyt.Avalonia.Orchestrator/bin/Debug/net8.0
/Lyt.StateMachine/bin/Debug/net8.0
/Lyt.Avalonia.UserAdministration/obj
/Lyt.Avalonia.UserAdministration/bin/Release/net8.0
/Lyt.Avalonia.Themes/bin
/Lyt.Avalonia.Themes/obj
/Lyt.Avalonia.UserAdministration/bin/Debug/net8.0
/Lyt.Avalonia.Orchestrator/bin/Debug/net9.0
/Lyt.StateMachine/bin/Debug/net9.0
/Lyt.Avalonia.Framework.TestApp/bin/Debug/net9.0
/Lyt.Avalonia.UserAdministration/bin/Debug/net9.0
/Lyt.Avalonia.Framework.TestApp/bin/Release/net9.0
/Lyt.Avalonia.Orchestrator/bin/Release/net9.0
/Lyt.Avalonia.UserAdministration/bin/Release/net9.0
/Lyt.StateMachine/bin/Release/net9.0
/Lyt.Avalonia.LocalizationTool/obj
/Lyt.Avalonia.LocalizationTool/bin
/Lyt.Search/bin
/Lyt.Search/obj
/Lyt.Validation/bin
/Lyt.Validation/obj
/Lyt.Reflector/bin/Debug/net9.0
/Lyt.Reflector/obj
/Lyt.Avalonia.Translator.Service/obj
/Lyt.Avalonia.Translator.Service/bin
